version: "{build}"
os: Visual Studio 2017
branches:
  only:
    - master
environment:
  BUILDING_ON_PLATFORM: win
  BuildEnvironment: appveyor
skip_commits:
  files:
    - LICENSE
build_script:
  - ps: ./build.ps1
test: off
artifacts:
  - path: artifacts/packages/*.nupkg
deploy:
  - provider: NuGet
    server: https://www.myget.org/F/zhenyu_dev/api/v2/package
    api_key:
      secure: JHvuPDFPpkDhON0iCQVpEwJuR+BPt1jSzu8K7kf91uzj8+0Bq+U1H9DPNIfJnRBw
    skip_symbols: true
    on:
      branch: dev
  - provider: NuGet
    name: production
    server: https://www.nuget.org/api/v2/package
    api_key:
      secure: yhzYAvjn1OM1tBf+OV6G6G0JmM0ABSA70rhIHtitvWUmDyQh223zr8zNPiSPMlXP
    on:
      branch: master
